@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.app-window {
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(107, 114, 128, 0.3) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(107, 114, 128, 0.3);
	border-radius: 20px;
	border: 3px solid transparent;
}

.dot1anim {
	animation: dot1L 1s ease-in-out 0.5s infinite forwards;
}
.dot2anim {
	animation: dot1L 1s ease-in-out 0.7s infinite forwards;
}
.dot3anim {
	animation: dot1L 1s ease-in-out 1s infinite forwards;
}
@keyframes dot1L {
	0% {
		opacity: 0.4;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
	}
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
